In [1]:
!ls

Untitled.ipynb

In [2]:
ls

Untitled.ipynb

In [12]:
f=open("untitled.txt",'r')
content=f.read(0)
print(content)
f.close()

In [2]:
#string formating
number=[1,2,3,8]
string = "Numbers are:{0}{1}{2}{3}".format(number[0],number[1],number[3],number[3])
print(string)

Numbers are:1288

In [6]:
month=["jan","feb","mar","apr","may","jun","jul","aug","sept","octo","nov","dec"]
day=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]
date="date={0}:".format(month[2],day[6])+"{0}".format(day[6])
print(date)

date=mar:7

In [7]:
print(max(0,2,5,6))

6

In [8]:
print(abs(-20.25))

20.25

In [17]:
#Write Python code which accepts name of a product and in turn returns their respective prices.
dictionary={"chocolate":50,"milk":23,"sugar":15,"potato":18}
a=input("enter any product name-");
print(dictionary.get(a))

enter any product name-milk
23

In [22]:
#List out  all the odd numbers from 1 to 100 using lists in Python
print([x for x in range(1,101) if x%2!=0])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [26]:
#calcualting the squares using lambdas function
a=int(input("enter the number that you want to calculate the square "))
result= (lambda x: x**2)(a)
print(result)

enter the number that you want to calculate the square 4
16

In [29]:
#map function
a=[10,1,21,25,63]
def add(x):
    return x+2
result=list(map(add,a))
print(result)

[12, 3, 23, 27, 65]

In [33]:
b=[2,4,5,8]
print(b*2)

[2, 4, 5, 8, 2, 4, 5, 8]